@import "variables";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
  }
  a {
    display: block;
    padding: 2rem;
    text-decoration: none;
  }
}

@mixin tranform($property) {
  transform: $property;
}

.box{
  @include tranform(rotate(45deg));
}

.ThreeDBox{
  @include tranform(rotate(360deg));
}

%shared-messages {
  border: 0.2rem solid #ddd;
  padding: 0.8125rem;
  color: #444;
}

.success {
  @extend %shared-messages;
  border-color: green;
}

.danger {
  @extend %shared-messages;
  border-color: crimson;
}


