@import "variables";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
  }
  a {
    display: block;
    padding: 2rem;
    text-decoration: none;
  }
}

@mixin tranform($property) {
  transform: $property;
}

.box{
  @include tranform(rotate(45deg));
}

.ThreeDBox{
  @include tranform(rotate(360deg));
}

%shared-messages {
  border: 0.2rem solid #ddd;
  padding: 0.8125rem;
  color: #444;
}

.success {
  @extend %shared-messages;
  border-color: green;
}

.danger {
  @extend %shared-messages;
  border-color: crimson;
}


@mixin triangle($size, $color, $direction) {
  height: 0;
  width: 0;

  border-color: transparent;
  border-style: solid;
  border-width: $size /2;

  @if $direction == up {
    border-bottom-color: $color;
  } @else if $direction == down {
    border-top-color: $color;
  } @else if $direction == left {
    border-right-color: $color;
  } @else if $direction == right {
    border-left-color: $color;
  } @else {
    @error "Unknown direction #{$direction}.";
  }
}
.next {
  @include triangle(0.5rem,black ,up )
}